# ============================================================
# Coelho Manager - Environment Configuration Template
# ============================================================

# Backend
NETBOX_URL={NETBOX_URL}
NETBOX_TOKEN={NETBOX_TOKEN}
MAIL_FROM={EMAIL_REMETENTE}
SMTP_HOST={SMTP_HOST}
SMTP_PORT={SMTP_PORT}
SMTP_USER={SMTP_USER}
SMTP_PASSWORD={SMTP_PASSWORD}
IMAGES_REPOSITORY_PATH={CAMINHO_REPOSITORIO_IMAGENS}
TESSDATA_PATH={CAMINHO_TESSDATA_OCR}
LOG_PATH={CAMINHO_LOGS}

# Frontend
VITE_API_URL={URL_API_BACKEND}
